
#hero{
display: flex;
justify-content: space-between;
    margin: 0 7vw;
}

#hero ul{
    display: flex;
    list-style: none;
    margin-bottom: 3rem;
    position: relative;
    flex-grow: 0;
}

#hero ul::after{
    content: '';
width: 31%;
height: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    border-bottom: #B00000 solid 2px;
}

#hero li{
    margin-right: 15px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2.2rem;
}

.herotitle{
    font-weight: 700;
    font-style: normal;
    font-size: 6.4rem;
    line-height: 7.7rem;
    font-family: 'Poppins', sans-serif;
}
.hero-content{
    margin-right: 6rem;
}

#hero p{
    margin: 6rem 0px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.8rem;
    letter-spacing: 0.05rem;
}
.btn{
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-weight: 400;
    padding: 1.2rem 1.3rem;
    border-radius: 0.5rem;
    border: none;
}

.btn-red{
    background-color: #B00000;
    color: white;
    margin-right: 2rem;
}
.btn-border{
    background-color: white;
    color: black;
    border: 1px solid black;
}

.heroimages{
    display: flex;
    flex-grow: 0;
 position: relative;
}

.x72{
    width: 7.2rem;
    height: 7.2rem;
    position: absolute;
    bottom: 4rem;
    right: -4rem;
}
.x40{
    width: 4rem;
    height: 4rem;
}

.smalltriangle1{
    rotate: 90deg;
    position: absolute;
    bottom: 16rem;
    left: -2rem;
}
.smalltriangle2{
    rotate: -90deg;
position: absolute;
right: -2rem;
top: 4rem

.whyus-container {


    display: grid;
    grid-template-areas: "uptime blazing free-ssl support"
    "uptime blazing free-ssl support"
    "uptime blazing free-ssl support";
    row-gap: 0.1rem;
    column-gap: 2rem;
    height: 22vh;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 15rem;

}


.item{
    background-color: white;
    display: grid;
    grid-template-areas: "img"
    "bold-text"
    "text";
    row-gap: 0.1rem;
    justify-items: center;
    font-family: Poppins;


   
}

.sub-item:nth-child(1){
    grid-area: img;
    width: 80%;
    height: 100%;

    background: url("../assets/images/1.png") no-repeat;
}

.sub-item:nth-child(4){
    grid-area: img;
    width: 80%;
    height: 100%;

    background: url("../assets/images/2.png") no-repeat ;

  

 
}

.sub-item:nth-child(7){
    grid-area: img;
    background-color: black;
    width: 80%;
    height: 100%;

    background: url("../assets/images/3.png") no-repeat;
}

.sub-item:nth-child(10){
    grid-area: img;
    background-color: black;
    width: 80%;
    height: 100%;

    background: url("../assets/images/4.png") no-repeat;
}
.bold-text{
  font-weight: 700;
  font-size: 2rem;
}

.text{
    font-weight: 300;
    font-size: 1.2rem;
  }



.item:nth-child(1){
    grid-area: uptime;
}
.item:nth-child(2){
    grid-area: blazing;
}.item:nth-child(3){
    grid-area: free-ssl;
}.item:nth-child(4){
    grid-area: support;

}